@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(32, 42, 68);
  font-family: "Space Mono", monospace;
}

h1{
  color: aliceblue;
  margin: 0 10px;
  position: absolute;
  z-index: 5;
}

img {
  width: 100%;
  height: 100%;
}

.imageSlides {
  display: none;
}

/* image container */
.container{
  position: relative;
  height: 100vh;
}
/* images wrapper */
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: green;
  animation-name: fade;
  animation-duration: 1.2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*Style for ">" next and "<" previous buttons */
.slider-btn {
  position: sticky;
  cursor: pointer;
  position: absolute;
  top: 50%;
  min-width: auto;
  padding: 8px 16px;
  /* color: rgba(255, 253, 253, 0.596); */
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s ease;
  user-select: none;
  background-color: ;
  border-radius: 50%;
}

/* setting the position of the previous button towards left */
.previous {
  left: 2%;
}
/* setting the position of the next button towards right */
.next {
  right: 2%;
}

/* On hover, adding a background color */
.previous:hover,
.next:hover {
  color: rgb(0, 0, 0);
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: rgba(255, 255, 255, 0.5);
}

/* The dots/bullets/indicators */
.dot-wrapper {
  position: absolute;
  bottom: 2%;
  width: 100%;
  display: block;
  margin: auto;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: gainsboro;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.active:first-child {
  background-color: #63262a;
}
.active:nth-child(2) {
  background-color: #fdbf67;
}
.active:nth-child(3) {
  background-color: #a7a042;
}
.active:nth-child(4) {
  background-color: #fa8e71;
}
.active:nth-child(5) {
  background-color: #292929;
}
.active:nth-child(6) {
  background-color: #b12616;
}
